<configuration>
  <system.webServer>

    <!-- indicates that the server.js file is a node.js application 
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode" path="dist/server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- use URL rewriting to redirect the entire branch of the URL namespace
    to server.js node.js application; for example, the following URLs will 
    all be handled by server.js:
    
        http://localhost/node/express/myapp/foo
        http://localhost/node/express/myapp/bar
        
    -->

    <rewrite>
      <rules>
        <rule name="myapp">
          <match url="/*" />
          <action type="Rewrite" url="dist/server.js" />
        </rule>
      </rules>
    </rewrite>
    
  </system.webServer>
</configuration>
