@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");

.clearButton{ 
    cursor: pointer;
    background-color: inherit;
    border:0; 
    font-size:16px;
    position: absolute; 
    bottom: 10px; 
    left: 95%;
    outline:none;    
    color: #26C6DA
};